<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <servlet>
  <servlet-name>Login</servlet-name>
  <servlet-class>HOADIS.UserAuthentication.Login</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>LoginForm</servlet-name>
  <servlet-class>HOADIS.UserAuthentication.LoginForm</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>Logout</servlet-name>
  <servlet-class>HOADIS.UserAuthentication.Logout</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>Home</servlet-name>
  <servlet-class>HOADIS.UserAuthentication.Home</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>Event</servlet-name>
  <servlet-class>HOADIS.Event.Event</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>RegisterForm</servlet-name>
  <servlet-class>HOADIS.UserAuthentication.RegisterForm</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>Register</servlet-name>
  <servlet-class>HOADIS.UserAuthentication.Register</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>EditProfile</servlet-name>
  <servlet-class>HOADIS.Profile.EditProfile</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>UpdateProfile</servlet-name>
  <servlet-class>HOADIS.Profile.UpdateProfile</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>AddEvent</servlet-name>
  <jsp-file>/WEB-INF/Event/AddEvent.jsp</jsp-file>
 </servlet>
    <servlet>
        <servlet-name>NoticeBoard</servlet-name>
        <servlet-class>HOADIS.Event.NoticeBoard</servlet-class>
    </servlet>
	<servlet>
	  <servlet-name>TimeTable</servlet-name>
	  <servlet-class>HOADIS.TimeTable.TimeTable</servlet-class>
	 </servlet>
	 <servlet><servlet-name>UpdateTimeTable</servlet-name>
	 <servlet-class>HOADIS.TimeTable.UpdateTimeTable</servlet-class></servlet>
	 <servlet><servlet-name>SelectTimeTableYear</servlet-name>
	 <servlet-class>HOADIS.TimeTable.SelectTimeTableYear</servlet-class></servlet>
	    <servlet>
	        <servlet-name>ViewResult</servlet-name>
        <servlet-class>HOADIS.Result.ViewResult</servlet-class>
	    </servlet>
	    <servlet>
	        <servlet-name>SelectSubjectToEdit</servlet-name>
	        <servlet-class>HOADIS.Academics.SelectSubject</servlet-class>
	    </servlet>
	    <servlet>
	        <servlet-name>UpdateSubject</servlet-name>
	        <jsp-file>/WEB-INF/Academics/UpdateSubject.jsp</jsp-file>
	    </servlet>
	    <servlet>
	        <servlet-name>EditSubject</servlet-name>
	        <servlet-class>HOADIS.Academics.EditSubject</servlet-class>
	    </servlet>
	    <servlet>
	        <servlet-name>SelectAttendanceSubject</servlet-name>
	        <servlet-class>HOADIS.Academics.SelectAttendanceSubject</servlet-class>
	    </servlet>
	    <servlet>
	        <servlet-name>AddAttendance</servlet-name>
	        <servlet-class>HOADIS.Academics.AddAttendance</servlet-class>
	    </servlet>
	    <servlet>
	        <servlet-name>Attendance</servlet-name>
	        <servlet-class>HOADIS.Academics.Attendance</servlet-class>
	    </servlet>
    <servlet>
        <servlet-name>SubAssign</servlet-name>
        <servlet-class>HOADIS.Upload.Assignment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveAssignment</servlet-name>
        <servlet-class>HOADIS.Upload.SaveAssignment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubCourseware</servlet-name>
        <servlet-class>HOADIS.Upload.Courseware</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCourseware</servlet-name>
        <servlet-class>HOADIS.Upload.SaveCourseware</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GupShup</servlet-name>
        <servlet-class>HOADIS.GupShup.GupShup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddGupShup</servlet-name>
        <jsp-file>/WEB-INF/MicroBlog/AddGupShup.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AddPhoto</servlet-name>
        <jsp-file>/WEB-INF/Profile/UploadPhoto.jsp</jsp-file>
    </servlet>
    <servlet><servlet-name>SavePhoto</servlet-name><servlet-class>HOADIS.Profile.SavePhoto</servlet-class></servlet>
    <servlet>
        <servlet-name>Result</servlet-name>
        <servlet-class>HOADIS.Result.Result</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadCourseware</servlet-name>
        <servlet-class>HOADIS.Upload.DownloadCourseware</servlet-class>
    </servlet>
    <servlet-mapping>
  <servlet-name>Login</servlet-name>
  <url-pattern>/Login</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>LoginForm</servlet-name>
  <url-pattern>/LoginForm</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Logout</servlet-name>
  <url-pattern>/Logout</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Home</servlet-name>
  <url-pattern>/Home</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Event</servlet-name>
  <url-pattern>/Event</url-pattern>
 </servlet-mapping>
  
 <servlet-mapping>
  <servlet-name>RegisterForm</servlet-name>
  <url-pattern>/RegisterForm</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Register</servlet-name>
  <url-pattern>/Register</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>EditProfile</servlet-name>
  <url-pattern>/EditProfile</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>UpdateProfile</servlet-name>
  <url-pattern>/UpdateProfile</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AddEvent</servlet-name>
  <url-pattern>/AddEvent</url-pattern>
 </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoticeBoard</servlet-name>
        <url-pattern>/NoticeBoard</url-pattern>
    </servlet-mapping>

	<servlet-mapping>
	  <servlet-name>TimeTable</servlet-name>
	  <url-pattern>/TimeTable</url-pattern>
	 </servlet-mapping>
	    <servlet-mapping>
	        <servlet-name>UpdateTimeTable</servlet-name>
	        <url-pattern>/UpdateTimeTable</url-pattern>
	    </servlet-mapping>
	    <servlet-mapping>
	        <servlet-name>SelectTimeTableYear</servlet-name>
	        <url-pattern>/SelectTimeTableYear</url-pattern>
	    </servlet-mapping>
	    <servlet-mapping>
	        <servlet-name>ViewResult</servlet-name>
	        <url-pattern>/ViewResult</url-pattern>
	    </servlet-mapping>
	    <servlet-mapping>
	        <servlet-name>SelectSubjectToEdit</servlet-name>
	        <url-pattern>/SelectSubjectToEdit</url-pattern>
	    </servlet-mapping>
	    <servlet-mapping>
	        <servlet-name>UpdateSubject</servlet-name>
	        <url-pattern>/UpdateSubject</url-pattern>
	    </servlet-mapping>
	    <servlet-mapping>
	        <servlet-name>EditSubject</servlet-name>
	        <url-pattern>/EditSubject</url-pattern>
	    </servlet-mapping>
	
    <servlet-mapping>
        <servlet-name>SubAssign</servlet-name>
        <url-pattern>/SubAssign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveAssignment</servlet-name>
        <url-pattern>/SaveAssignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubCourseware</servlet-name>
        <url-pattern>/SubCourseware</url-pattern>
    </servlet-mapping>
    <servlet-mapping><servlet-name>SaveCourseware</servlet-name><url-pattern>/SaveCourseware</url-pattern></servlet-mapping>
    <servlet-mapping>
        <servlet-name>GupShup</servlet-name>
        <url-pattern>/GupShup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGupShup</servlet-name>
        <url-pattern>/AddGupShup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPhoto</servlet-name>
        <url-pattern>/AddPhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavePhoto</servlet-name>
        <url-pattern>/SavePhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectAttendanceSubject</servlet-name>
        <url-pattern>/SelectAttendanceSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Attendance</servlet-name>
        <url-pattern>/Attendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAttendance</servlet-name>
        <url-pattern>/AddAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping><servlet-name>Result</servlet-name><url-pattern>/Result</url-pattern></servlet-mapping><servlet-mapping><servlet-name>DownloadCourseware</servlet-name><url-pattern>/DownloadCourseware</url-pattern></servlet-mapping></web-app>
