<div class="page-header">
  <h1>QuizApp Help <small>Department of Computer Engineering, IIT-BHU</small></h1>
</div>
<div class="row">
  <div class="span16">
    <h2>Screenshots</h2>

    <% (1..13).each do |i| %>
      <a href="/images/screenshot/<%=i%>.png"><img width="100%" src="/images/screenshot/<%=i%>.png"/></a>
    <% end %>



  </div>
</div>
